@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

@if (success()) {
  <app-message title="Your password has been reset">
    You can now
    <a [href]="AuthPaths.logIn" class="hover:underline">Login</a>
    using your new password.
  </app-message>
} @else {
  <form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
    <div>
      <label hlmLabel for="password">Password</label>
      <input hlmInput class="w-full" formControlName="password" type="password" id="password" />
      <app-form-error
        [errors]="form.controls.password.errors"
        [show]="form.controls.password.touched && form.controls.password.invalid"
      ></app-form-error>
    </div>
    <div>
      <label hlmLabel for="password_confirm">Confirm your Password</label>
      <input hlmInput class="w-full" formControlName="password_confirm" type="password" id="password_confirm" />
      <app-form-error
        [errors]="form.controls.password_confirm.errors"
        [show]="form.controls.password_confirm.touched && form.controls.password_confirm.invalid"
      ></app-form-error>
    </div>
    <button hlmBtn [disabled]="submitting()" class="w-full" type="submit">Change Password</button>
  </form>
}
