<section *ngIf="authRepository.currentUser() as user" class="mb-16">
  <h3 [appTailwind]="{kind: 'heading', size: '3'}" class="mb-1">Email Verification</h3>
  <hr class="mb-6">
  <div *ngIf="success() || user.is_verified; else verifyBlock" [appTailwind]="{kind: 'alert', color: 'white'}">
    Your email address has been verified.
  </div>
  <ng-template #verifyBlock>
    <app-error-messages location="verifyEmail"></app-error-messages>
    <div class="mb-6">
      <p class="mb-4">
        Your email address needs to be verified before you can use this site.
      </p>
      <button (click)="request($event);" [appTailwind]="{kind: 'button', color: 'white'}">
        Send me a verification email
      </button>
    </div>
    <form (ngSubmit)="submit()" *ngIf="requested()" [formGroup]="form" class="space-y-6">
      <div>
        <textarea
          [appTailwind]="{kind: 'input', width: 'full'}"
          formControlName="token"
          placeholder="Please enter the verification token provided in the email"></textarea>
        <app-form-errors [control]="form.controls.token"></app-form-errors>
      </div>
      <button [appTailwind]="{kind: 'button'}" [disabled]="loading()">Verify Account</button>
    </form>
  </ng-template>
</section>
