<section *ngIf="authRepository.currentUser() as user" class="mb-16">
  <h3 class="font-light text-1xl mb-1">Email Verification</h3>
  <hr class="border-1 border-solid mb-6" />
  <app-message *ngIf="success() || user.is_verified; else verifyBlock" color="white">
    Your email address has been verified.
  </app-message>
  <ng-template #verifyBlock>
    <app-error-messages location="verifyEmail"></app-error-messages>
    <div class="mb-6">
      <p class="mb-4">Your email address needs to be verified before you can use this site.</p>
      <button (click)="request($event)" mat-raised-button>Send me a verification email</button>
    </div>
    <form (ngSubmit)="submit()" *ngIf="requested()" [formGroup]="form" class="space-y-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Verification Token</mat-label>
        <textarea
          formControlName="token"
          matInput
          placeholder="Please enter the verification token provided in the email"
        ></textarea>
        <mat-error appFormFieldError="token" class="text-xs" />
      </mat-form-field>
      <button [disabled]="loading()" color="primary" mat-raised-button>Verify Account</button>
    </form>
  </ng-template>
</section>
