<div class="w-[350px] grid gap-6">
  <a class="block w-[200px]" href="/">
    <app-logo />
  </a>
  <div>
    <h1 class="text-3xl font-bold">Welcome</h1>
    <p class="text-muted-foreground">Welcome to the angular boilerplate.</p>
  </div>
  <a hlmBtn class="w-full" href="{{ AuthPaths.logIn }}">Login</a>
  <div class="grid grid-cols-3">
    <brn-separator hlmSeparator class="my-4" />
    <span class="text-muted-foreground text-center">or</span>
    <brn-separator hlmSeparator class="my-4" />
  </div>
  <a hlmBtn variant="secondary" class="w-full" href="{{ AuthPaths.register }}">Register</a>
</div>
