<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h1 class="font-light text-2xl">Angular Boilerplate</h1>
      <h2 class="text-gray-400">Welcome to the angular boilerplate.</h2>
    </hgroup>
    <a class="w-full" color="primary" href="{{ AuthPaths.logIn }}" mat-raised-button>Login</a>
    <div class="flex items-center">
      <mat-divider class="flex-grow"></mat-divider>
      <span class="px-4 text-gray-600">or</span>
      <mat-divider class="flex-grow"></mat-divider>
    </div>
    <a class="w-full" href="{{ AuthPaths.register }}" mat-raised-button>Register</a>
    <div>
      <h3 class="mb-2">Useful Links</h3>
      <ul class="list-disc list-inside space-y-1">
        <li>
          <a class="text-blue-800 hover:underline" href="https://github.com/stuartaccent/angular-boilerplate"
            >Github Repository
          </a>
        </li>
        <li>
          <a class="text-blue-800 hover:underline" href="https://github.com/stuartaccent/fastapi-boilerplate"
            >FastAPI Boilerplate
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
