<main class="container mx-auto px-6 mt-10 sm:mt-16 md:mt-24 lg:mt-32 xl:mt-40">
  <header class="mb-10">
    <img alt="logo" class="mb-8 w-[300px]" height="348" ngSrc="assets/logo.png" width="1280"/>
    <hgroup>
      <h1>Angular Boilerplate</h1>
      <h2>Welcome to the angular boilerplate. Please login or register to get started.</h2>
    </hgroup>
  </header>
  <section>
    <div class="max-w-xl sm:grid sm:grid-cols-2 gap-4">
      <a [appElementStyle]="{ type: 'button', style: 'primary' }" class="w-full mb-4"
         href="{{ AuthPaths.logIn }}">Login</a>
      <a [appElementStyle]="{ type: 'button', style: 'white' }" class="w-full mb-4" href="{{ AuthPaths.register }}">Register</a>
    </div>
    <div class="mt-6 mb-2">Useful Links</div>
    <ul class="list-disc list-inside">
      <li><a href="https://github.com/stuartaccent/angular-boilerplate">Github Repository</a></li>
      <li><a href="https://github.com/stuartaccent/fastapi-boilerplate">FastAPI Boilerplate</a></li>
    </ul>
  </section>
</main>
