@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

@if (success()) {
  <app-message title="Thanks">Your profile was updated successfully.</app-message>
}

<form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
  <div class="owl-form-field">
    <label class="owl-label" for="first_name">First Name</label>
    <input class="owl-input" formControlName="first_name" type="text" id="first_name" />
    @if (submitted() && form.controls.first_name.invalid) {
      <app-form-error class="block" [errors]="form.controls.first_name.errors"></app-form-error>
    }
  </div>
  <div class="owl-form-field">
    <label class="owl-label" for="last_name">Last Name</label>
    <input class="owl-input" formControlName="last_name" type="text" id="last_name" />
    @if (submitted() && form.controls.last_name.invalid) {
      <app-form-error class="block" [errors]="form.controls.last_name.errors"></app-form-error>
    }
  </div>
  <div class="owl-form-field">
    <label class="owl-label" for="email">Email</label>
    <input class="owl-input" formControlName="email" type="email" id="email" />
    @if (submitted() && form.controls.email.invalid) {
      <app-form-error class="block" [errors]="form.controls.email.errors"></app-form-error>
    }
  </div>
  <div>
    <button class="owl-button" [disabled]="submitting()" type="submit">Update Profile</button>
  </div>
</form>
