<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h2 hlmH2>Forgot Password</h2>
      <p hlmP class="text-gray-500">Request details to reset your password.</p>
    </hgroup>
    @if (success()) {
      <app-message title="Your password has been reset">
        You can now
        <a [href]="AuthPaths.logIn" class="hover:underline">Login</a>
        using your new password.
      </app-message>
    } @else {
      <app-error-messages location="resetPw"></app-error-messages>
    }
    <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-4">
      <div>
        <label hlmLabel>Password</label>
        <input hlmInput class="w-full" formControlName="password" type="password" />
        <span hlmInputError appFormFieldError="password"></span>
      </div>
      <div>
        <label hlmLabel>Confirm your Password</label>
        <input hlmInput class="w-full" formControlName="password_confirm" type="password" />
        <span hlmInputError appFormFieldError="password_confirm"></span>
      </div>
      <button hlmBtn [disabled]="loading()" class="w-full" type="submit">Change Password</button>
    </form>
  </div>
</main>
