<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h1 class="font-light text-2xl">Forgot Password</h1>
      <h2 class="text-gray-400">Request details to reset your password.</h2>
    </hgroup>
    @if (success()) {
      <app-message>
        Your password has been reset. You can now
        <a [href]="AuthPaths.logIn" class="text-green-800 underline">Login</a>
        using your new password.
      </app-message>
    } @else {
      <app-error-messages location="resetPw"></app-error-messages>
    }
    <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-3">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
        <mat-error appFormFieldError="password" class="text-xs" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Confirm your Password</mat-label>
        <input formControlName="password_confirm" matInput type="password" />
        <mat-error appFormFieldError="password_confirm" class="text-xs" />
      </mat-form-field>
      <button [disabled]="loading()" class="w-full" color="primary" mat-raised-button type="submit">
        Change Password
      </button>
    </form>
  </div>
</main>
