<main class="container mx-auto px-6 mt-10 sm:mt-16 md:mt-24 lg:mt-32 xl:mt-40">
  <header class="mb-10">
    <a href="/">
      <div app-logo class="mb-8 w-[300px]"></div>
    </a>
    <hgroup class="space-y-2">
      <h1 class="font-light text-3xl">Forgot Password</h1>
      <h2 class="flex items-center text-gray-600">
        <div appSvgIcon="majestic-key-line" class="w-4 h-4 mr-2"></div>
        Request details to reset your password.
      </h2>
    </hgroup>
  </header>
  <section class="max-w-[500px]">
    <div *ngIf="success()" appAlert>
      Your password has been reset. You can now
      <a class="text-green-800 underline" href="{{ AuthPaths.logIn }}">Login</a>
      using your new password.
    </div>
    <app-error-messages *ngIf="!success()" location="resetPw"></app-error-messages>
    <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-6">
      <div>
        <label for="password">Password</label>
        <input appInput formControlName="password" id="password" type="password">
        <app-form-errors [control]="form.controls.password"></app-form-errors>
      </div>
      <div>
        <label for="password_confirm">Confirm your Password</label>
        <input appInput formControlName="password_confirm" id="password_confirm"
               type="password">
        <app-form-errors [control]="form.controls.password_confirm"></app-form-errors>
      </div>
      <button [disabled]="loading()"
              appButton
              class="w-full"
              type="submit"
      >Change Password
      </button>
    </form>
  </section>
</main>
