<section class="mb-16">
  <h3 [appTailwind]="{kind: 'heading', size: '3'}" class="mb-1">Password</h3>
  <hr class="mb-6">
  <form (ngSubmit)="submit()" [formGroup]="form" class="sm:col-span-2 space-y-6">
    <div *ngIf="success()" [appTailwind]="{kind: 'alert', color: 'success'}">
      Your password was changed successfully.
    </div>
    <app-error-messages *ngIf="!success()" location="myPw"></app-error-messages>
    <div>
      <label for="password">New Password</label>
      <input [appTailwind]="{kind: 'input', width: 'full'}" formControlName="password" id="password" type="password">
      <app-form-errors [control]="form.controls.password"></app-form-errors>
    </div>
    <div>
      <label for="password_confirm">Confirm your Password</label>
      <input [appTailwind]="{kind: 'input', width: 'full'}" formControlName="password_confirm" id="password_confirm"
             type="password">
      <app-form-errors [control]="form.controls.password_confirm"></app-form-errors>
    </div>
    <button [appTailwind]="{kind: 'button'}" [disabled]="loading()" type="submit">Change
      Password
    </button>
  </form>
</section>
