<section class="mb-16">
  <h3 class="mb-1">Password</h3>
  <hr class="mb-6">
  <form #ngForm="ngForm" (ngSubmit)="submit()" [formGroup]="form" class="sm:col-span-2 space-y-6">
    <app-message-ok *ngIf="success">
      Your password was changed successfully.
    </app-message-ok>
    <app-error-messages *ngIf="!success" location="myPw"></app-error-messages>
    <div>
      <label for="password">New Password</label>
      <input formControlName="password" id="password" type="password">
      <app-form-errors [control]="form.controls.password" [formRef]="ngForm"></app-form-errors>
    </div>
    <div>
      <label for="confirm_password">Confirm your Password</label>
      <input formControlName="confirm_password" id="confirm_password" type="password">
      <app-form-errors [control]="form.controls.confirm_password" [formRef]="ngForm"></app-form-errors>
    </div>
    <button [disabled]="loading" class="w-auto mb-0 mr-6" type="submit">Change Password</button>
  </form>
</section>
