<section class="mb-16">
  <h3 class="font-light text-1xl mb-1">Password</h3>
  <hr class="border-1 border-solid mb-6">
  <form (ngSubmit)="submit()" [formGroup]="form" class="sm:col-span-2 space-y-4">
    <div *ngIf="success()" appAlert>
      Your password was changed successfully.
    </div>
    <app-error-messages *ngIf="!success()" location="myPw"></app-error-messages>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>New Password</mat-label>
      <input formControlName="password" matInput type="password">
      <mat-error appFormFieldError="password" class="text-xs"/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Confirm your Password</mat-label>
      <input formControlName="password_confirm" matInput type="password">
      <mat-error appFormFieldError="password_confirm" class="text-xs"/>
    </mat-form-field>
    <button [disabled]="loading()" color="primary" mat-raised-button type="submit">
      Change Password
    </button>
  </form>
</section>
