<header class="mb-8">
  <div class="container mx-auto p-5 flex items-center">
    <a [href]="DashboardPaths.dashboard" class="owl-h3 mr-auto">Angular Boilerplate</a>
    <div class="owl-dropdown-menu">
      <button class="owl-button owl-button-ghost" (click)="toggle()">
        <span>Account Menu</span>
        <ng-icon name="lucideChevronDown" />
      </button>
      <div class="owl-dropdown-menu-content owl-open right-0" role="menu" [class.owl-open]="open()" (mouseleave)="close()">
        <div class="owl-dropdown-menu-label">My Account</div>
        <div class="owl-dropdown-menu-separator" role="separator"></div>
        <a class="owl-dropdown-menu-item" [href]="SettingsPaths.profile" role="menuitem">Profile</a>
        <a class="owl-dropdown-menu-item" [href]="SettingsPaths.password" role="menuitem">Password</a>
        <a class="owl-dropdown-menu-item" [href]="AuthPaths.logOut" role="menuitem">Logout</a>
      </div>
    </div>
  </div>
</header>
