<main class="container mx-auto px-6 mt-10 sm:mt-16 md:mt-24 lg:mt-32 xl:mt-40">
  <header class="mb-10">
    <a href="/" class="mb-8 inline-block w-[300px] max-w-full">
      <app-logo/>
    </a>
    <hgroup class="space-y-2">
      <h1 class="font-light text-3xl">Oops! Page not found</h1>
      <h2 class="text-gray-600">We couldn't find the page you were looking for.</h2>
    </hgroup>
  </header>
  <section class="max-w-[500px]">
    <a appButton="white" href="/">Return Home</a>
  </section>
</main>
