<ul *ngIf="control && control.invalid && (control.touched || control.dirty)" class="text-red-800">
  <li *ngIf="control.errors?.['required']">
    {{ name }} is required.
  </li>
  <li *ngIf="control.errors?.['email']">
    {{ name }} is not a valid email.
  </li>
  <li *ngIf="control.errors?.['minlength']">
    {{ name }} must be at least {{ control.errors?.['minlength']?.['requiredLength'] }} characters long.
  </li>
  <li *ngIf="control.errors?.['passwordsMatch']">
    The passwords do not match.
  </li>
</ul>
