@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

@if (success()) {
  <app-message title="Thanks">
    Assuming the email exists in our system. We will send details of what to do next.
  </app-message>
} @else {
  <form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
    <div>
      <label hlmLabel>Email</label>
      <input hlmInput class="w-full" formControlName="email" type="email" />
      <span hlmInputError appFieldError="email"></span>
    </div>
    <button hlmBtn [disabled]="submitting()" class="w-full" type="submit">Request Details</button>
  </form>
}
