@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

@if (success()) {
  <app-message title="Your registration was successful">
    You can now
    <a [href]="AuthPaths.logIn" class="hover:underline">login</a> to access the site.
  </app-message>
} @else {
  <form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
    <div>
      <label hlmLabel>First Name</label>
      <input hlmInput class="w-full" formControlName="first_name" type="text" />
      <span hlmInputError appFieldError="first_name"></span>
    </div>
    <div>
      <label hlmLabel>Last Name</label>
      <input hlmInput class="w-full" formControlName="last_name" type="text" />
      <span hlmInputError appFieldError="last_name"></span>
    </div>
    <div>
      <label hlmLabel>Email</label>
      <input hlmInput class="w-full" formControlName="email" type="email" />
      <span hlmInputError appFieldError="email"></span>
    </div>
    <div>
      <label hlmLabel>Password</label>
      <input hlmInput class="w-full" formControlName="password" type="password" />
      <span hlmInputError appFieldError="password"></span>
    </div>
    <div>
      <label hlmLabel>Confirm your Password</label>
      <input hlmInput class="w-full" formControlName="password_confirm" type="password" />
      <span hlmInputError appFieldError="password_confirm"></span>
    </div>
    <button hlmBtn [disabled]="submitting()" class="w-full" type="submit">Register</button>
  </form>
}
