@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

@if (success()) {
  <app-message title="Your registration was successful">
    You can now
    <a [href]="AuthPaths.logIn" class="hover:underline">login</a> to access the site.
  </app-message>
} @else {
  <form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
    <div>
      <label hlmLabel for="r-first_name">First Name</label>
      <input hlmInput class="w-full" formControlName="first_name" type="text" id="r-first_name" />
      <app-form-error
        [errors]="form.controls.first_name.errors"
        [show]="form.controls.first_name.touched && form.controls.first_name.invalid"
      ></app-form-error>
    </div>
    <div>
      <label hlmLabel for="r-last_name">Last Name</label>
      <input hlmInput class="w-full" formControlName="last_name" type="text" id="r-last_name" />
      <app-form-error
        [errors]="form.controls.last_name.errors"
        [show]="form.controls.last_name.touched && form.controls.last_name.invalid"
      ></app-form-error>
    </div>
    <div>
      <label hlmLabel for="r-email">Email</label>
      <input hlmInput class="w-full" formControlName="email" type="email" id="r-email" />
      <app-form-error
        [errors]="form.controls.email.errors"
        [show]="form.controls.email.touched && form.controls.email.invalid"
      ></app-form-error>
    </div>
    <div>
      <label hlmLabel for="r-password">Password</label>
      <input hlmInput class="w-full" formControlName="password" type="password" id="r-password" />
      <app-form-error
        [errors]="form.controls.password.errors"
        [show]="form.controls.password.touched && form.controls.password.invalid"
      ></app-form-error>
    </div>
    <div>
      <label hlmLabel for="r-password_confirm">Confirm your Password</label>
      <input hlmInput class="w-full" formControlName="password_confirm" type="password" id="r-password_confirm" />
      <app-form-error
        [errors]="form.controls.password_confirm.errors"
        [show]="form.controls.password_confirm.touched && form.controls.password_confirm.invalid"
      ></app-form-error>
    </div>
    <button hlmBtn [disabled]="submitting()" class="w-full" type="submit">Register</button>
  </form>
}
