<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h2 hlmH2>Login</h2>
      <p hlmP class="text-muted-foreground">Access your account.</p>
    </hgroup>
    <app-error-messages location="logIn"></app-error-messages>
    <form (ngSubmit)="logIn()" [formGroup]="form" class="space-y-6">
      <div>
        <label hlmLabel>Email</label>
        <input hlmInput class="w-full" formControlName="email" type="email" />
        <span hlmInputError appFieldError="email"></span>
      </div>
      <div>
        <label hlmLabel>Password</label>
        <input hlmInput class="w-full" formControlName="password" type="password" />
        <span hlmInputError appFieldError="password"></span>
      </div>
      <div class="flex justify-end mb-4">
        <a [href]="AuthPaths.forgotPassword" class="text-foreground hover:underline">Forgot password</a>
      </div>
      <button hlmBtn [disabled]="loading()" class="w-full" type="submit">Login</button>
    </form>
  </div>
</main>
