@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

@if (success()) {
  <app-message title="Thanks">Your password was changed successfully.</app-message>
}

<form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
  <div>
    <label hlmLabel>New Password</label>
    <input hlmInput class="w-full" formControlName="password" type="password" />
    <app-form-error
      [errors]="form.controls.password.errors"
      [show]="form.controls.password.touched && form.controls.password.invalid"
    ></app-form-error>
  </div>
  <div>
    <label hlmLabel>Confirm your Password</label>
    <input hlmInput class="w-full" formControlName="password_confirm" type="password" />
    <app-form-error
      [errors]="form.controls.password_confirm.errors"
      [show]="form.controls.password_confirm.touched && form.controls.password_confirm.invalid"
    ></app-form-error>
  </div>
  <div>
    <button hlmBtn [disabled]="submitting()" type="submit">Change Password</button>
  </div>
</form>
