<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h1 class="font-light text-2xl">Forgot Password</h1>
      <h2 class="text-gray-400">Request details to reset your password.</h2>
    </hgroup>
    @if (success()) {
      <app-message>Assuming the email exists in our system. We will send details of what to do next.</app-message>
    } @else {
      <app-error-messages location="forgotPw"></app-error-messages>
    }
    <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" />
        <mat-error appFormFieldError="email" class="text-xs" />
      </mat-form-field>
      <button [disabled]="loading()" class="w-full" color="primary" mat-raised-button type="submit">
        Request Details
      </button>
    </form>
  </div>
</main>
