<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h2 hlmH2>Forgot Password</h2>
      <p hlmP class="text-gray-500">Request details to reset your password.</p>
    </hgroup>
    @if (success()) {
      <app-message title="Thanks">
        Assuming the email exists in our system. We will send details of what to do next.
      </app-message>
    } @else {
      <app-error-messages location="forgotPw"></app-error-messages>
    }
    <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-4">
      <div>
        <label hlmLabel>Email</label>
        <input hlmInput class="w-full" formControlName="email" type="email" />
        <span hlmInputError appFormFieldError="email" class="text-xs"></span>
      </div>
      <button hlmBtn [disabled]="loading()" class="w-full" type="submit">Request Details</button>
    </form>
  </div>
</main>
