@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

<form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
  <div>
    <label hlmLabel>Email</label>
    <input hlmInput class="w-full" formControlName="email" type="email" />
    <app-form-error
      [errors]="form.controls.email.errors"
      [show]="form.controls.email.touched && form.controls.email.invalid"
    ></app-form-error>
  </div>
  <div>
    <div class="flex items-center justify-between">
      <label hlmLabel>Password</label>
      <a [href]="AuthPaths.forgotPassword" class="text-sm text-primary font-semibold hover:underline">
        Forgot your password?
      </a>
    </div>
    <input hlmInput class="w-full" formControlName="password" type="password" />
    <app-form-error
      [errors]="form.controls.password.errors"
      [show]="form.controls.password.touched && form.controls.password.invalid"
    ></app-form-error>
  </div>
  <button hlmBtn [disabled]="submitting()" class="w-full" type="submit">Login</button>
</form>
