@if (errors().length > 0) {
  <app-message title="Oops!" variant="destructive">
    @for (err of errors(); track err) {
      {{ err }}<br />
    }
  </app-message>
}

<form (ngSubmit)="submit()" [formGroup]="form" class="grid gap-6">
  <div class="owl-form-field">
    <label class="owl-label" for="l-email">Email</label>
    <input class="owl-input" formControlName="email" type="email" id="l-email" />
    @if (form.controls.email.touched && form.controls.email.invalid) {
      <app-form-error class="block" [errors]="form.controls.email.errors"></app-form-error>
    }
  </div>
  <div class="owl-form-field">
    <div class="flex items-center justify-between">
      <label class="owl-label" for="l-password">Password</label>
      <a [href]="AuthPaths.forgotPassword" class="text-sm text-primary font-semibold hover:underline">
        Forgot your password?
      </a>
    </div>
    <input class="owl-input" formControlName="password" type="password" id="l-password" />
    @if (form.controls.password.touched && form.controls.password.invalid) {
      <app-form-error class="block" [errors]="form.controls.password.errors"></app-form-error>
    }
  </div>
  <button class="owl-button" [disabled]="submitting()" type="submit">Login</button>
</form>
