<main class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full max-w-[400px] space-y-6">
    <a class="block w-[200px] max-w-full" href="/">
      <app-logo />
    </a>
    <hgroup class="space-y-1">
      <h2 hlmH2>Register</h2>
      <p hlmP class="text-gray-500">Please complete the below to create and access your account.</p>
    </hgroup>
    @if (success()) {
      <app-message title="Your registration was successful">
        You can now
        <a [href]="AuthPaths.logIn" class="hover:underline">login</a> to access the site.
      </app-message>
    } @else {
      <app-error-messages location="register"></app-error-messages>
      <form (ngSubmit)="register()" [formGroup]="form" class="space-y-4">
        <div>
          <label hlmLabel>First Name</label>
          <input hlmInput class="w-full" formControlName="first_name" type="text" />
          <span hlmInputError appFieldError="first_name"></span>
        </div>
        <div>
          <label hlmLabel>Last Name</label>
          <input hlmInput class="w-full" formControlName="last_name" type="text" />
          <span hlmInputError appFieldError="last_name"></span>
        </div>
        <div>
          <label hlmLabel>Email</label>
          <input hlmInput class="w-full" formControlName="email" type="email" />
          <span hlmInputError appFieldError="email"></span>
        </div>
        <div>
          <label hlmLabel>Password</label>
          <input hlmInput class="w-full" formControlName="password" type="password" />
          <span hlmInputError appFieldError="password"></span>
        </div>
        <div>
          <label hlmLabel>Confirm your Password</label>
          <input hlmInput class="w-full" formControlName="password_confirm" type="password" />
          <span hlmInputError appFieldError="password_confirm"></span>
        </div>
        <button hlmBtn [disabled]="loading()" class="w-full" type="submit">Register</button>
      </form>
    }
  </div>
</main>
